.payment-form {
    padding: 2em;

    h3, legend {
        color: var(--color-accent-muted);
        font-size: 0.75rem;
        font-weight: bold;
        letter-spacing: 0.04rem;
        margin: 0;
        text-transform: uppercase;
    }
    .payment-buttons {
        margin-top: 2em;

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
            margin: 1em 0;
            width: 100%;
        }
        button {
            background-color: transparent;
            border: 2px solid var(--color-border-input);
            border-radius: 5px;
            padding: 1.5em;
            text-align: center;

            span {
                color: var(--color-accent-muted);
                display: block;
            }
            &.active {
                border-color: var(--color-border-input-active);
            }
        }
    }
    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }
    legend {
        margin: 1em 0;
    }
    .control-group {
        margin: 1em 0;
        position: relative;

        &.radios {
            align-items: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 3fr;

            .custom-radio-group {
                align-items: center;
                display: flex;
            }
        }
        &.row {
            display: grid;
            grid-template-columns: 7fr 3fr;
            gap: 1em;
        }
        .media-img-after {
            position: relative;
            width: 100%;

            img {
                position: absolute;
                right: 0.5em;
                top: 0.5em;
            }
        }

        input[type="text"],
        input[type="number"] {
            border: 2px solid var(--color-border-input);
            border-radius: 5px;
            padding: 0.75em;

            &:not(#amt_custom_text) {
                width: 100%;
            }
        }
    }
    button.btn-pay {
        background-color: var(--color-accent-cta);
        border: none;
        border-radius: 5px;
        color: var(--color-primary-light);
        cursor: pointer;
        display: block;
        font-weight: bold;
        padding: 1em;
        position: relative;
        width: 100%;
        --webkit-appearance: none;
        
        .icon-lock {
            height: 1rem;
            min-width: 0.85rem;
            position: absolute;
            top: 1em;
            right: 1em;
        }
    }
    p.subhead {
        margin-left: 0;
        text-align: left;

        a {
            color: inherit;
        }
    }
}